<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>
    <form name="test" method="post" action="input1.php">
		  <p><b>Логин:</b><br>
		   <input type="text" size="40">
		  </p>
		  <p><b>Пароль:</b><br>
		   <input type="text" size="40">
		  </p>
		  <p><input type="submit" value="Отправить">
		   <input type="reset" value="Очистить"></p>
		 </form>
  </body>
</html>